@page {
  size: A4;
  margin: 20mm;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: auto;

  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.btn {
  padding: 8px 14px;
  background: #0a66c2;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  position: sticky;
  top: 10px;
  z-index: 1000;
}

.btn.green {
  background: #22a06b;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-box {
  width: 200px;
  height: 100px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.logo-box span {
  color: #aaa;
  font-size: 14px;
}


.logo-box img {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

.invoice-title {
  text-align: right;
}

input, textarea, select {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
  margin-top: 20px;
}

.right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background: #0f1f3d;
  color: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.remove {
  color: red;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.summary {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.summary table {
  width: 380px;

}

.notes {
  margin-top: 20px;
}

/* PRINT */
@media print {
  body {
    background: none;
    padding: 0;
  }

  .btn, .remove, .logo-box span {
    display: none;
  }

  input, textarea, select {
    border: none;
  }

  .logo-box {
    border: none;
  }

  .logo-box img {
    display: block;
  }
}
